<div class="footer">
	<!-- <div class="footer-child">
		<p><%= link_to "What We Do", "" %><br>
		<%= link_to "Our Playbook", "" %><br>
		<%= link_to "Why Enganche 10?", "" %></p>
	</div>
	<div class="footer-child footer-logo">
		<%= link_to root_path, class: "footer-enganche10-brand" do %>
	    	<%= image_tag "Enganche_10_main_logo.png" %>
	  	<% end %>
  	</div>
  -->
	<div class="footer-child">
		<p><!--<%= link_to "info@enganche10.com", "mailto:info@enganche10.com" %><br>-->
		<%= link_to "Site Credits", "http://www.mouse-code.com/", target: "_blank" %><br>
		Copyright © 2017 Enganche 10</p>
	</div>
	<div class="footer-child footer-logo-responsive">
		<%= link_to root_path, class: "footer-enganche10-brand" do %>
	    	<%= image_tag "Enganche_10_main_logo.png" %>
	  	<% end %>
  	</div>
</div>