
<div class="navbar-enganche navbar-enganche-fixed">

  <!-- main Navigation -->
  <div class="navbar-enganche-main hidden-xs hidden-sm">

<!-- Navbar menu -->
    <!-- About link -->
    <div class="link-outline">
      <%= link_to "WHAT WE DO", root_path(:anchor => "about"), class: "navbar-enganche-link", id: "about-nav" %>
    </div>

    <!-- Our Playbook link -->
    <div class="link-outline">
      <%= link_to "OUR PLAYBOOK", root_path(:anchor => "playbook"), class: "navbar-enganche-link", id: "playbook-nav" %>
    </div>

    <!-- Logo -->
  <%= link_to root_path, class: "navbar-enganche-brand" do %>
    <%= image_tag "logo_small_bl.png" %>
  <% end %>

    <!-- Why Enganche link -->
    <div class="link-outline">
      <%= link_to "WHY ENGANCHE 10?", root_path(:anchor => "why-enganche"), class: "navbar-enganche-link", id: "why-enganche-nav" %>
    </div>

    <!-- Contact link -->
    <div class="link-outline">
      <%= link_to "LET'S TALK", root_path(:anchor => "contact"), class: "navbar-enganche-link", id: "contact-nav" %>
    </div>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-enganche-item hidden-md hidden-lg">
      <%= link_to root_path, class: "navbar-enganche-brand-mobile" do %>
        <%= image_tag "logo_small_bl.png" %>
      <% end %>
      <div class="dropdown dropdown-toggle-style">
        <a class="fa fa-bars dropdown-toggle" data-toggle="dropdown" href="#"></a>
        <ul class="dropdown-menu dropdown-menu-main .navbar-enganche-dropdown-menu">
          <li><%= link_to "WHAT WE DO", root_path(:anchor => "about"), class: "navbar-enganche-link" %></li>
        <li><%= link_to "OUR PLAYBOOK", root_path(:anchor => "playbook"), class: "navbar-enganche-link" %></li>
        <li><%= link_to "WHY ENGANCHE 10?", root_path(:anchor => "why-enganche"), class: "navbar-enganche-link" %></li>
        <li><%= link_to "LET'S TALK", root_path(:anchor => "contact"), class: "navbar-enganche-link" %></li>
        </ul>
      </div>
  </div>

</div>




