
<div class="navbar-enganche navbar-enganche-fixed">

  <!-- main Navigation -->
  <div class="navbar-enganche-main hidden-xs hidden-sm">

<!-- Navbar menu -->

    <!-- Logo -->
    <%= link_to root_path, class: "navbar-enganche-brand" do %>
      <%= image_tag "E10 Logo.png" %>
    <% end %>
    <div class="navbar-menu-links">
      <div class="link-outline">
        <%= link_to "HOME", root_path, class: "navbar-enganche-link", id: "home-nav" %>
      </div>

      <!-- About link -->
      <!-- <div class="link-outline">
        <%= link_to "OUR PLAYBOOK", root_path(:anchor => "about"), class: "navbar-enganche-link", id: "about-nav" %>
      </div> -->

      <!-- Our Playbook link -->
      <div class="link-outline">
        <%= link_to "BRANDS", root_path(:anchor => "sponsorship"), class: "navbar-enganche-link", id: "sponsorship-nav" %>
      </div>

     <!-- Sponsorship seekers -->
      <div class="link-outline">
        <%= link_to "SPONSORSHIP SEEKERS", root_path(:anchor => "our-story"), class: "navbar-enganche-link", id: "story-nav" %>
      </div>

      <!-- Our Story -->
      <div class="link-outline">
        <%= link_to "OUR STORY", root_path(:anchor => "why-enganche"), class: "navbar-enganche-link", id: "why-enganche-nav" %>
      </div>

      <!-- Contact link -->
      <div class="link-outline">
        <%= link_to "LET'S TALK", root_path(:anchor => "contact"), class: "navbar-enganche-link", id: "contact-nav" %>
      </div>
    </div>
    
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-enganche-item hidden-md hidden-lg">
      <%= link_to root_path, class: "navbar-enganche-brand-mobile" do %>
        <%= image_tag "logo_small_bl.png" %>
      <% end %>
      <div class="dropdown dropdown-toggle-style">
        <a class="fa fa-bars dropdown-toggle" data-toggle="dropdown" href="#"></a>
        <ul class="dropdown-menu dropdown-menu-main .navbar-enganche-dropdown-menu">
          <li><%= link_to "OUR PLAYBOOK", root_path(:anchor => "about"), class: "navbar-enganche-link", id: "about-nav" %></li>
        <li><%= link_to "WHY SPONSORSHIP?", root_path(:anchor => "sponsorship"), class: "navbar-enganche-link", id: "sponsorship-nav" %></li>
        <li><%= link_to "WHY ENGANCHE 10?", root_path(:anchor => "why-enganche"), class: "navbar-enganche-link" %></li>
        <li><%= link_to "OUR STORY", root_path(:anchor => "story-nav"), class: "navbar-enganche-link", id: "story" %></li>
        <li><%= link_to "LET'S TALK", root_path(:anchor => "contact"), class: "navbar-enganche-link" %></li>
        </ul>
      </div>
  </div>

</div>




