<div class="navbar-enganche navbar-enganche-fixed">
  
  <!-- Main Navigation -->
  <div class="navbar-enganche-main hidden-xs hidden-sm">
  
  <!-- Navbar menu -->
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-enganche-brand" do %>
      <%= image_tag "e10Logo.png" %>
    <% end %>

    <!-- HOME link -->
    <div class="navbar-menu-links">
      <div class="link-outline">
        <%= link_to "HOME", root_path, class: "navbar-enganche-link", id: "home-nav" %>
      </div>

      <!-- BRANDS link -->
      <div class="link-outline">
        <%= link_to "BRANDS", root_path(:anchor => "sponsorship"), class: "navbar-enganche-link", id: "sponsorship-nav" %>
      </div>

     <!-- SPONSORSHIP SEEKERS link -->
      <div class="link-outline">
        <%= link_to "SPONSORSHIP SEEKERS", root_path(:anchor => "our-story"), class: "navbar-enganche-link", id: "story-nav" %>
      </div>

      <!-- OUR STORY link -->
      <div class="link-outline">
        <%= link_to "OUR STORY", root_path(:anchor => "why-enganche"), class: "navbar-enganche-link", id: "why-enganche-nav" %>
      </div>

      <!-- CONTACT link -->
      <div class="link-outline">
        <%= link_to "LET'S TALK", root_path(:anchor => "contact"), class: "navbar-enganche-link", id: "contact-nav" %>
      </div>
    </div> 
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-enganche-item hidden-md hidden-lg">
      <%= link_to root_path, class: "navbar-enganche-brand-mobile" do %>
        <%= image_tag "E10 Logo.png" %>
      <% end %>
      <div class="dropdown dropdown-toggle-style">
        <a class="fa fa-bars dropdown-toggle" data-toggle="dropdown" href="#"></a>
        <ul class="dropdown-menu dropdown-menu-main .navbar-enganche-dropdown-menu">
          <li><%= link_to "HOME", root_path, class: "navbar-enganche-link", id: "home-nav" %></li>
        <li><%= link_to "BRANDS", root_path(:anchor => "sponsorship"), class: "navbar-enganche-link", id: "sponsorship-nav" %></li>
        <li><%= link_to "SPONSORSHIP SEEKERS", root_path(:anchor => "why-enganche"), class: "navbar-enganche-link" %></li>
        <li><%= link_to "OUR STORY", root_path(:anchor => "story-nav"), class: "navbar-enganche-link", id: "story", id: "story-nav" %></li>
        <li><%= link_to "LET'S TALK", root_path(:anchor => "contact"), class: "navbar-enganche-link", id: "contact-nav" %></li>
        </ul>
      </div>
  </div>
</div>


<!-- NAVBAR SCROLL -->

<div class="navbar-enganche-scroll navbar-enganche-fixed hidden">
  
  <!-- Main Navigation -->
  <div class="navbar-enganche-main-scroll hidden-xs hidden-sm">
  
  <!-- Navbar menu -->
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-enganche-brand-scroll" do %>
      <%= image_tag "E10 Logo.png" %>
    <% end %>

    <!-- HOME link -->
    <div class="navbar-menu-links-scroll">
      <div class="link-outline">
        <%= link_to "HOME", root_path, class: "navbar-enganche-link", id: "home-nav" %>
      </div>

      <!-- BRANDS link -->
      <div class="link-outline">
        <%= link_to "BRANDS", root_path(:anchor => "sponsorship"), class: "navbar-enganche-link", id: "sponsorship-nav" %>
      </div>

     <!-- SPONSORSHIP SEEKERS link -->
      <div class="link-outline">
        <%= link_to "SPONSORSHIP SEEKERS", root_path(:anchor => "our-story"), class: "navbar-enganche-link", id: "story-nav" %>
      </div>

      <!-- OUR STORY link -->
      <div class="link-outline">
        <%= link_to "OUR STORY", root_path(:anchor => "why-enganche"), class: "navbar-enganche-link", id: "why-enganche-nav" %>
      </div>

      <!-- CONTACT link -->
      <div class="link-outline">
        <%= link_to "LET'S TALK", root_path(:anchor => "contact"), class: "navbar-enganche-link", id: "contact-nav" %>
      </div>
    </div> 
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-enganche-item hidden-md hidden-lg">
      <%= link_to root_path, class: "navbar-enganche-brand-mobile" do %>
        <%= image_tag "E10 Logo.png" %>
      <% end %>
      <div class="dropdown dropdown-toggle-style">
        <a class="fa fa-bars dropdown-toggle" data-toggle="dropdown" href="#"></a>
        <ul class="dropdown-menu dropdown-menu-main .navbar-enganche-dropdown-menu">
          <li><%= link_to "HOME", root_path, class: "navbar-enganche-link", id: "home-nav" %></li>
        <li><%= link_to "BRANDS", root_path(:anchor => "sponsorship"), class: "navbar-enganche-link", id: "sponsorship-nav" %></li>
        <li><%= link_to "SPONSORSHIP SEEKERS", root_path(:anchor => "why-enganche"), class: "navbar-enganche-link" %></li>
        <li><%= link_to "OUR STORY", root_path(:anchor => "story-nav"), class: "navbar-enganche-link", id: "story", id: "story-nav" %></li>
        <li><%= link_to "LET'S TALK", root_path(:anchor => "contact"), class: "navbar-enganche-link", id: "contact-nav" %></li>
        </ul>
      </div>
  </div>

</div>






